<Strings>
    <Text>Взять {color 1}{string 0}{color 0}?\n{p}{p}{p}{p}{p}{p}{branch 128}</Text>
    <Text>Вы не можете нести\nбольше предметов.</Text>
    <Text>Он полностью заряжен.</Text>
    <Text>Вы не можете объединить\nэти предметы.</Text>
    <Text>Вам нужно два свободных\nместа, чтобы взять\nэтот предмет.</Text>
    <Text>Патроны не могут\nиспользоваться отдельно.</Text>
    <Text>Вы взяли\n{color 1}{string 0}{color 0}.</Text>
    <Text>Сейчас мне это\nне нужно.</Text>
    <Text>Вам нужно больше\nместа в инвентаре\n, чтобы взять это.</Text>
    <Text>UNUSED</Text>
    <Text>Документ {color 1}{string 0}{color 0}\nбыл сохранён.</Text>
    <Text>Смешать эти травы?\n{p}{p}{p}{p}{p}{p}{branch 128}</Text>
    <Text>UNUSED</Text>
    <Text>UNUSED</Text>
    <Text>UNUSED</Text>
    <Text>UNUSED</Text>
    <Text>\n</Text>
    <Text>Боевой нож.\nОн может пригодиться...</Text>
    <Text>H&amp;K VP70.\nИзготовлен в\nH&amp;K, Германия.{clear 0}Он стреляет\n9 мм патронами.</Text>
    <Text>Браунинг ХП.\nИзготовлен в\nFN, Бельгия.{clear 0}Он стреляет\n9 мм патронами.</Text>
    <Text>H&amp;K VP70 улучшенный.\nVP70 с увеличенным\nприкладом.{clear 0}Способен стрелять тремя\nпатронами за раз.\n</Text>
    <Text>Дезерт Игл .50 АЕ\nПистолет Магнум\nбольшого калибра.{clear 0}Он стреляет\nпатронами .50 АЕ\nСделан в ИМИ, Израиль.</Text>
    <Text>Улучшенный Дезерт Игл.\nСтвол заменён на\n25-сантиметровый.\n{clear 0}Теперь патроны .50 АЕ\nстреляют сильнее.</Text>
    <Text>Ремингтон М1100-П.\nСтреляет патронами\n12 калибра.{clear 0}Это уменьшенная\nверсия M1100\nс нарезом.</Text>
    <Text>Ремингтон М1100.\nМ1100 полноразмерный\nполуавтоматический.{clear 0}Более длинный ствол\nпозволяет лучше\nцелиться.</Text>
    <Text>Гранатомёт М79.\nЗаряжается различными\nзарядами.{clear 0}Из-за уменьшенного\nкорпуса у него большая\nотдача. Сделано в США.</Text>
    <Text>Гранатомёт М79.\nЗаряжается различными\nзарядами.{clear 0}Из-за уменьшенного\nкорпуса у него большая\nотдача. Сделано в США.</Text>
    <Text>Гранатомёт М79.\nЗаряжается различными\nзарядами.{clear 0}Из-за уменьшенного\nкорпуса у него большая\nотдача. Сделано в США.</Text>
    <Text>Мощный арбалет.\nВ основном используется\nдля охоты на крупную дичь.</Text>
    <Text>Кольт А.Е.Д.\nАртиллерийская модель.\n{clear 0}Использовался ковбоями\nна Диком Западе.\nПредназначен для\n{clear 0}быстрой стрельбы.</Text>
    <Text>Высоковольтная пушка для\nэкспериментальных\nживотных.{clear 0}Она стреляет высоков.\nзарядами и эффективна\nв пределах трёх метров.</Text>
    <Text>МАК-11. Изготовлен\nкомпанией “Военное\nВооружение".{clear 0}Он стреляет\nпатронами .380.</Text>
    <Text>Химический топливный\nогнемёт сделанный\nкомпанией Амбрелла.{clear 0}Топливо подаётся\nиз маленького\nбаллона.</Text>
    <Text>Ракетница. Один выстрел\nубьёт любого врага.</Text>
    <Text>Мощное оружие,\nкоторое распыляет патроны\nв любые цели.{clear 0}С этим\nможно победить\nлюбого врага.</Text>
    <Text>Беретта М92ФС\nПолуавтоматическая,\nодна из немногих.\n</Text>
    <Text>Патроны 9x19 Парабеллум.\nМогут использоваться для\nH&amp;K VP70 и Браунинг ХП.</Text>
    <Text>Патроны для дробовика.\nИспользуются для серии\nРемингтон М1100.</Text>
    <Text>Патроны .50 АЕ\nПатроны Магнум\nдля Desert Eagle.</Text>
    <Text>Химическое топливо.\nИспользуется для\nогнемёта.</Text>
    <Text>Разрывные заряды.\nИспользуются вместе\nс гранатомётом M79.</Text>
    <Text>Зажигательные заряды.\nИспользуются вместе\nс гранатомётом M79.</Text>
    <Text>Разрывные кислотные\nзаряды. Используются\nвместе с гранатомётом M79.</Text>
    <Text>Патроны .380.\nМагазин для\nИнгрэм М11.</Text>
    <Text>Электрозаряды.\nИмеют разъем\nдля проверки{clear 0}состояния энергии.</Text>
    <Text>Компактные железные\nстрелы, используются\nвместе с арбалетом.</Text>
    <Text>С её помощью можно\nсохранить свой прогресс.</Text>
    <Text>С его помощью можно\nоткрывать простые\nзамки.</Text>
    <Text>Похоже на детали\nдля пистолета.</Text>
    <Text>Похоже на детали\nдля Магнума.</Text>
    <Text>Похоже на детали\nдля дробовика.</Text>
    <Text>С его помощью можно\nполностью восстановить\nздоровье.</Text>
    <Text>Мощная, взрывная\nантивирусная бомба.{clear 0}Её взрывная сила\nполностью сожжёт\nлюбой вирус.</Text>
    <Text>Это превратит разрыв.\nзаряды в кислотные.\n</Text>
    <Text>Специальные травы,\nрастущие в районе\nгорода Раккун.</Text>
    <Text>Специальные травы,\nрастущие в районе\nгорода Раккун.</Text>
    <Text>Специальные травы,\nрастущие в районе\nгорода Раккун.</Text>
    <Text>Смесь двух зелёных трав.</Text>
    <Text>Смесь одной зелёной и\nодной красной трав.</Text>
    <Text>Смесь одной зелёной и\nодной синей трав.</Text>
    <Text>Смесь трёх зелёных трав.</Text>
    <Text>Смесь двух зелёных\nтрав и одной синей\nтравы.</Text>
    <Text>Смесь одной зелёной,\nодной синей и одной\nкрасной трав.</Text>
    <Text>Бензиновая зажигалка.\n</Text>
    <Text>Отмычка. С её помощью\nможно открывать\nпростые замки.\n</Text>
    <Text>Фото сделано\nсовсем недавно.</Text>
    <Text>С её помощью можно\nоткрывать и закрывать\nвентили.</Text>
    <Text>Кроваво-красный\nдрагоценный камень\nразмером с кулак.\n</Text>
    <Text>Пластиковая карта.\nЗдесь надпись:\nОружейный склад.\n</Text>
    <Text>Пластиковая карта.\nЗдесь надпись: \nЭлектронный замок зала.\n</Text>
    <Text>15-сантиметровый\nкамень с изображением\nзмеи.</Text>
    <Text>15-сантиметровый\nкамень с изображением\nягуара.</Text>
    <Text>Половина камня\nс изображением\nкакого-то животного.</Text>
    <Text>Половина камня\nс изображением\nкакого-то животного.</Text>
    <Text>15-сантиметровый\nкамень с изображением\nорла.</Text>
    <Text>Шахматная фигура слона.\nСнизу есть штекер.\n</Text>
    <Text>Шахматная фигура ладьи.\nСнизу есть штекер.\n</Text>
    <Text>Шахматная фигура коня.\nСнизу есть штекер.\n</Text>
    <Text>Шахматная фигура короля.\nСнизу есть штекер.\n</Text>
    <Text>Ключ странной формы.\nНа кольце брелок\nАмбреллы...\n</Text>
    <Text>Это заряженный\nдетонатор. Без взрывчатки\nбесполезен.\n</Text>
    <Text>С4 достаточно, чтобы\nразрушить стену, но\nнужен детонатор.\n</Text>
    <Text>С её помощью можно\nубрать завал.\n\n</Text>
    <Text>Её конец имеет\nквадратную форму.</Text>
    <Text>Я не знаю,\nчто на плёнке,\nнужно проявить её.</Text>
    <Text>Я не знаю,\nчто на плёнке,\nнужно проявить её.</Text>
    <Text>Я не знаю,\nчто на плёнке,\nнужно проявить её.</Text>
    <Text>На обратной стороне\nчто-то написано.\n{clear 0}“Приведи меня\nк прекрасной девушке,\nкоторая превратилась{clear 0}в камень, пока\nменя ждала."</Text>
    <Text>Изображение орла.</Text>
    <Text>Изображение волка.</Text>
    <Text>Позолочена.\nПохоже на большую\nшестерёнку от часов.</Text>
    <Text>Лом. С его помощью\nможно открыть люк.</Text>
    <Text>С его помощью\nможно восстановить\nэнергию в лаборатории.</Text>
    <Text>Корпус для промышленных\nпредохранителей.{clear 0}Он разработан\nдля сверхпроводящих\nпредохранителей.</Text>
    <Text>Это поможет Шерри.\n</Text>
    <Text>Используется для создания\nвакцины. Сначала мне\nнужна базовая вакцина.</Text>
    <Text>Я не знаю,\nчто на плёнке,\nнужно проявить её.</Text>
    <Text>Картридж вакцины\nобработанный\nв устройстве.</Text>
    <Text>Фиолетовая жидкость\nв желеобразном\nсостоянии.</Text>
    <Text>Где-то должен быть\nзакрытый шкаф.\n</Text>
    <Text>Высоковольтный штекер.\nИспользуется для подключ.\nмощных генераторов.</Text>
    <Text>Высоковольтный штекер.\nИспользуется для подключ.\nмощных генераторов.</Text>
    <Text>Провод для подключения\nнебольших электрических\nприборов.</Text>
    <Text>Фото сделано\nсовсем недавно.\n</Text>
    <Text>С его помощью\nможно пройти через\nслужебный вход.</Text>
    <Text>Здесь изображён\nзнак “пики".</Text>
    <Text>Здесь изображён\nзнак “бубны".</Text>
    <Text>Здесь изображён\nзнак “черви".</Text>
    <Text>Здесь изображён\nзнак “трефы".</Text>
    <Text>Ключ от\nпанели управления.{clear 0}На брелке изображена\nбуква “D".\n(Down - Вниз)</Text>
    <Text>Ключ от\nпанели управления.{clear 0}На брелке изображена\nбуква “U".\n(Up - Вверх)</Text>
    <Text>Он выглядит необычно.\nТеперь я могу войти в\nкомнату энергоснабжения.</Text>
    <Text>На этикетке надпись:{clear 0}“Для входа на\nподземную платформу".\n</Text>
    <Text>Похоже на ключ-карту\nдля доступа\nв лабораторию.\n</Text>
    <Text>Выглядит очень важным.\n</Text>
    <Text>Мне нужно запустить\nэтот поезд,\nкак можно быстрее!</Text>
</Strings>
